Navie Bayies CLassifier

In [1]:
import pandas as pd
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

Reading the csv file

In [2]:
data=pd.read_csv(r"C:\Users\new\Dropbox\My PC (LAPTOP-VOB8LHM1)\Downloads\Naive-Bayes-Classification-Data.csv")
print(data)

     glucose  bloodpressure  diabetes
0         40             85         0
1         40             92         0
2         45             63         1
3         45             80         0
4         40             73         1
..       ...            ...       ...
990       45             87         0
991       40             83         0
992       40             83         0
993       40             60         1
994       45             82         0

[995 rows x 3 columns]

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 995 entries, 0 to 994
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   glucose        995 non-null    int64
 1   bloodpressure  995 non-null    int64
 2   diabetes       995 non-null    int64
dtypes: int64(3)
memory usage: 23.4 KB

In [11]:
x = data.drop(['diabetes'], axis=1) 
y = data['diabetes']
print(x)

     glucose  bloodpressure
0         40             85
1         40             92
2         45             63
3         45             80
4         40             73
..       ...            ...
990       45             87
991       40             83
992       40             83
993       40             60
994       45             82

[995 rows x 2 columns]

In [15]:
x

     glucose  bloodpressure
0         40             85
1         40             92
2         45             63
3         45             80
4         40             73
..       ...            ...
990       45             87
991       40             83
992       40             83
993       40             60
994       45             82

[995 rows x 2 columns]

In [13]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)
gnb=GaussianNB()

In [14]:
print(x_train)

     glucose  bloodpressure
258       45             83
848       45             85
474       40             73
807       35             73
933       40             75
..       ...            ...
835       40             65
192       45             85
629       40             83
559       50             90
684       50             75

[696 rows x 2 columns]

In [16]:
print(y_train)

258    0
848    0
474    1
807    1
933    1
      ..
835    1
192    0
629    0
559    0
684    1
Name: diabetes, Length: 696, dtype: int64

In [17]:
print(x_test)

     glucose  bloodpressure
420       55             73
985       40             73
31        50             68
692       40             82
553       40             85
..       ...            ...
105       45             85
68        45             82
471       35             70
447       50             83
640       40             92

[299 rows x 2 columns]

In [18]:
print(y_test)

420    1
985    1
31     1
692    1
553    0
      ..
105    0
68     0
471    1
447    0
640    0
Name: diabetes, Length: 299, dtype: int64

In [19]:
y_pred_gnb = gnb.fit(x_train,y_train).predict(x_test)

In [20]:
cnf_matrix_gnb= confusion_matrix(y_test,y_pred_gnb)

In [22]:
cnf_matrix_gnb= confusion_matrix(y_test,y_pred_gnb)

[[122   9]
 [ 13 155]]

In [23]:
print(y_pred_gnb)

[1 1 1 0 0 0 1 1 0 1 0 0 1 1 1 1 1 0 1 1 0 0 0 0 1 1 1 0 0 0 1 1 0 0 0 1 0
 1 1 1 1 1 0 0 0 1 0 1 0 0 0 0 1 0 0 0 0 1 1 0 1 0 1 0 1 0 0 1 1 1 0 1 0 1
 0 1 1 1 0 1 0 1 1 1 0 1 0 0 1 0 1 0 0 0 1 0 1 0 0 1 0 0 1 0 0 0 0 1 1 0 0
 1 1 0 1 1 0 0 0 1 1 0 1 1 1 0 0 1 1 0 1 1 1 1 0 0 1 1 0 0 1 1 1 1 0 1 0 0
 0 1 1 0 1 1 1 0 1 1 1 1 0 1 0 0 1 0 1 1 1 0 0 0 1 0 0 0 0 1 1 1 1 0 1 1 0
 0 1 1 1 1 0 1 0 1 1 0 1 0 1 1 1 0 1 1 1 1 0 0 1 1 1 1 0 1 1 1 0 1 0 1 1 0
 1 0 1 1 1 1 1 0 0 1 1 1 0 0 0 1 1 1 1 0 1 0 1 1 0 1 0 0 1 0 0 1 1 0 0 0 1
 1 1 1 0 0 1 1 0 0 1 0 1 0 0 1 1 1 1 1 1 0 0 0 0 0 1 0 1 1 1 1 0 1 1 1 0 0
 1 0 0]

In [24]:
accuracy= accuracy_score(y_test,y_pred_gnb)*100
print(accuracy)

92.64214046822742